.modal
  position fixed
  z-index 2000
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,0.5)
  display none

.modal-close
  font-size 24px
  cursor pointer
  color _white
  position absolute
  z-index 2002
  top 100px
  right 100px

.modal-content
  position absolute
  z-index 2001
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 300px
  height 300px
  color #fff
