@css {
  @font-face {
      font-family: 'gotham_htfbold';
      src: url('../fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
          url('../fonts/gothamhtf-bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'gotham_htfbook';
      src: url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
          url('../fonts/gothamhtf-book-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;

  }
}
