.MenuWeb
  .MenuWebContent
    .MenuWebContent-link
      | Menu 1
    .MenuWebContent-link
      | Menu 2
    .MenuWebContent-link
      | Menu 3

.header
  .menu
    ul
      li
        a(href="#") Menu 1
        a(href="#") Menu 2
        a(href="#") Menu 3

      li
        #MenuMobile.BurgerMenu
          span
          span
          span
          span
